:host {
    display: block;
    border: 1px solid black;
    background-color: #1d2528;
    color: #ade6fb;
}
button{
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    padding: .5em .6em;
    margin: 2em auto;
    color: #ccc;
    background-color: #555;
    background: -webkit-linear-gradient(#888, #555);
    background: linear-gradient(#888, #555);
    border: 0 none;
    border-radius: 6px;
    text-shadow: 0 -1px 0 #000;
    box-shadow: 0 1px 0 #396763, 0 5px 0 #1f2f2f, 0 6px 6px rgba(0,0,0,0.6);
    cursor: pointer;
}

horizontal li{
    display: inline-block;
    zoom:1;
    *display:inline; /* this fix is needed for IE7- */
}
.visible {
    display: block
}
.hidden {
    display: none
}
.halblue {
    background-color: #1f2f2f !important;
    color: #c0c9c7;
}

.halblue li{
    color: #c0c9c7;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}

.hal li.selected:hover {
    background-color: #396763 !important;
    color: #c0c9c7;
    cursor: pointer;
}
.hal li:hover {
    color: #c0c9c7;
    background-color: #396763;
    left: .1em;
}

.halselected{
    background-color: #396763 !important;
    color: #c0c9c7;
}
.hal{
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
    max-height: 500px;
    overflow: auto;
}
.hal li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #1f2f2f;
    margin: .5em;
    padding: .3em 0;
    height: 3.6em;
    border-radius: 4px;
}
.hal li.selected:hover {
    background-color: #396763 !important;
    color: #c0c9c7;
}
.hal li:hover {
    color: #c0c9c7;
    background-color: #1f2f2f;
    left: .1em;
}
.hal .text {
    position: relative;
    top: -3px;
}

.doinline li{
    position: relative;
    left: 0;
    background-color: transparent;
    margin: .5em;
    padding: .3em 0;
    border-radius: 4px;
    display: inline;
}

.doinline li input{
    background-color: #396763 !important;
    color: #c0c9c7;
}
.selected {
    background-color: #1f2f2f !important;
    color: #c0c9c7;
}
.heroes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
    font-family: Tahoma;
    font-size: 14;
    max-height: 800px;
    overflow: auto;
}
.heroes li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: transparent;
    height: 1.6em;
    border-radius: 4px;
}

.heroes li.selected:hover {
    background-color: #396763 !important;
    color: #c0c9c7;
}
.heroes li:hover {
    color: #f0f9c7;
    background-color: #396763;
}
.heroes .text {
    position: relative;

}
.heroes img{
    vertical-align: middle;
    position: absolute;
}
.heroes li p{
    display: inline-block;
    vertical-align: middle;
}
.heroes .button{
    background-color: #1d2528;
    color: #ade6fb;
    border-radius: 4px 0 0 4px;
}
.heroes .badge {
    background-color: #1f2f2f;
    position: relative;
    font-size: 10;
    font-weight: 200;
    border-radius: 4px;
}
.lightYellow{
    color: #ffff30
}
.station {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    font-family: Tahoma;
    font-size: 12;
    max-height: 500px;
    overflow: auto;
    width: 25em;
}
.station li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: transparent;
    margin: .2em;
    padding: .1em .1em;
    height: 1.6em;
    border-radius: 4px;
}

.station li.selected:hover {
    background-color: #396763 !important;
    color: #c0c9c7;
}
.station li:hover {
    color: #f0f9c7;
    background-color: #396763;
    left: .2em;
}
.station .text {
    position: relative;
    margin-right: .8em;
    top: -3px;
}
.station img{
    vertical-align: middle;
    position: absolute;
    height: 1.8em;
}
.station li p{
    display: inline-block;
    vertical-align: middle;
    margin-left: .5em;
}
.station .button{
    background-color: #1d2528;
    color: #ade6fb;
    margin: .8em;
    border-radius: 4px 0 0 4px;
}
.station .badge {
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #1f2f2f;
    line-height: 1em;
    position: relative;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}