<h1>{{title}}</h1>

<h2> Categories  </h2>
<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
<div class="row">
    <div class="col-xs-3">
        <ul class="heroes">
            <li *ngFor="let oitem of itemTopGroups" [class.selected]="hero === selectedHero"  (click)="onSelectItemTopGroup(oitem)">
                <span (click)="toggle(oitem)"> {{ oitem.name }}</span>

                <as-tree-view *ngIf=oitem.isExpanded [itemGroups]="getChildren(oitem)" (onItemsSelect)="onItemsSelect($event)" >

                </as-tree-view>
            </li>
        </ul>
    </div>

    <div class="col-xs-4">

        <ul class="doinline">
            <li><h3>pick items:</h3></li>
            <li><label>search: </label>   <input type="text" name="search" (input)="dosd($event)"/></li>
        </ul>
        <ul class="station2">
            <li *ngFor="let itype of itmtypes" [class.halselected]="hal === selectedHal" (click)="onSelectItem(itype)">
                <img src = "{{itype.type.icon.href}}" class="image"> <div>   {{ itype.type.name}} </div>
            </li>
        </ul>
    </div>
    <div class="col-xs-4">
        <h3> click to remove </h3>
        <h3> 5 minute updates </h3>

                <table class="itemtable">
                    <tr>
                        <th>Img</th>
                        <th>type</th>
                        <th class="makeroom">  </th>
                        <th>bom</th>

                        <th class="price">Jita price </th>
                        <th class="price">Amarr price</th>
                        <th class="price">Dodixie price</th>
                        <th class="price">Rens price</th>
                        <th class="price">Hek price </th>
<!--
                        <td class="price">Tash-Murkon price </td>
                        <td class="price">Oursulaert price </td>
-->

                    </tr>
                    <tr  *ngFor="let it of selItemTypes" [class.itemselected]="item === selectedItem" (click)="onRemoveItem(it)">
                        <td class="image"> <img src = "{{it.type.icon.href}}" class="image">  </td>
                        <td> {{it.type.name}} </td>
                        <td class="makeroom">  </td>
                        <td class="bomtext" alt="bom"> <img src="assets/images/bom.png" alt="bom"> </td>

                        <td class="price">{{it.Jitaprice | mPipe}} </td>
                        <td class="price">{{it.Amarrprice | mPipe}} </td>
                        <td class="price">{{it.Dodixieprice | mPipe}} </td>
                        <td class="price">{{it.Rensprice | mPipe}} </td>
                        <td class="price">{{it.Hekprice | mPipe}} </td>
                     <!--   <td class="price">{{it.Tashprice | moneyPipe}} </td>
                        <td class="price">{{it.Ourprice | moneyPipe}} </td>-->
                    </tr>
                </table>

                <h3>Preferred trade hub:  {{yourHub.name}}</h3>
                <ul class="station">
                    <li *ngFor="let h of tradeHubs.Hubs" [class.halselected]="hal === selectedHal" (click)="onSelectTradeHub(h)">
                        {{h.name}}
                    </li>
                </ul>
                <h3> BOM </h3>
                <ul class="station">
                    <li *ngFor="let b of selBom" [class.halselected]="hal === selectedHal">
                        id: {{ b.typeid }} quantity: {{b.quantity}}
                    </li>
                </ul>
                <h3> BOM results {{lastHub.name}} </h3>
                <ul class="station">
                    <li *ngFor="let resit of itemBuild.items">
                        {{resit.description}}  price: {{resit.price | moneyPipe }}
                    </li>
                </ul>
    </div>
</div>